[user]
	email = merlin.ludwig@gmail.com
	name = Merlin Ludwig
[pull]
	rebase = false
[init]
	defaultBranch = development
[safe]
	directory = /storage/emulated/0/Documents/obsidian-notes/Enter Ravenloft
	directory = /storage/emulated/0/Documents/devel/locc_site
